@model BookEasy.Models.Owner

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Owner</legend>

    <div class="display-label">Firstname</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.firstname)
    </div>

    <div class="display-label">Surname</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.surname)
    </div>

    <div class="display-label">Address</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.address1)
    </div>

    <div class="display-label">Town / City</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.address2)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">Contactno</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.contactno)
    </div>

    <div class="display-label">Holidayhomeno</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.holidayhomeno)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
