@model BookEasy.Models.Owner

@{
    ViewBag.Title = "Details";
}
<br />
<br />
<h2>Owner Details</h2>


<fieldset>
    <legend>Owner</legend>

    <div class="display-label">Name: 
        @Html.DisplayFor(model => model.firstname)
        @Html.DisplayFor(model => model.surname)
    </div>

    <div class="display-label">Address: 
    
        @Html.DisplayFor(model => model.address1)
        @Html.DisplayFor(model => model.address2)
    </div>

    <div class="display-label">Email:

        @Html.DisplayFor(model => model.email)
    </div>
    
    <div class="display-label">Contact No:
        @Html.DisplayFor(model => model.contactno)
    </div>

    <div class="display-label">Holiday Home No:
        @Html.DisplayFor(model => model.holidayhomeno)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.OwnerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
