@model IEnumerable<BookEasy.Models.Owner>

@{
    ViewBag.Title = "Owners";
}

<h2>List Of Owners</h2>

    <table>
    <tr> 
    <th>Sort by Country:</th> 
    <th>@Html.ActionLink("Country", "Index", new { sortOrder=ViewBag.NameSortParm }) </th> 
    </tr>
    <tr>
    <th>Add a new Owner</th>
    <th>@Html.ActionLink("New Entry", "Create")</th>
    </tr></table>

@using (Html.BeginForm()) 
{ 
    <p> 
        @Html.TextBox("SearchString")   
        <input type="submit" value="Search" /></p> 
}
<table>
    <tr>
        <th>Firstname</th>
        <th>Surname</th>
        <th>Address</th>
        <th>City</th>
        <th>Country</th>
        <th>Email</th>
        <th>Contact No</th>
        <th>Holidayhome No</th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contactno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.holidayhomeno)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OwnerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OwnerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OwnerID })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Return to Home Page", "Index")
</div>