@model BookEasy.Models.Holidayhome

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Holidayhome</legend>
           <img src="@Url.Content("~/Content/themes/base/images/poolatnight.jpg")" style="max-width: 275px; max-height: 183px; float: right;" alt="Pool"; />
    <div class="display-label">Holiday Home No:
        @Html.DisplayFor(model => model.holidayhomeno)
    </div>

    <div class="display-label">Address:
        @Html.DisplayFor(model => model.address1)
        @Html.DisplayFor(model => model.address2)
    </div>

    <div class="display-label">Email:
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">Contact No:
        @Html.DisplayFor(model => model.contactno)
    </div>

    <div class="display-label">Amenities:
        @Html.DisplayFor(model => model.amenities)
    </div>

     <div class="display-label">Price:
        @Html.DisplayFor(model => model.price)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.holidayhomeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
