@model IEnumerable<BookEasy.Models.Holidayhome>

@{
    ViewBag.Title = "Holiday Homes";
}

<h2>Holiday Homes</h2>

    <table>
    <tr> 
    <th>Sort by Price</th> 
    <th>@Html.ActionLink("Price", "Index", new { sortOrder=ViewBag.NameSortParm }) </th> 
    </tr>
    <tr>
    <th>Add a new Holiday Home</th>
    <th>@Html.ActionLink("New Entry", "Create")</th>
    </tr></table>

@using (Html.BeginForm()) 
{ 
    <p> 
        @Html.TextBox("SearchString")   
        <input type="submit" value="Search" /></p> 
}
<table>
    <tr>
        <th>Apartment/Villa</th>
        <th>Ref No</th>
        <th>Address</th> 
        <th>Town / City</th>
        <th>Country</th>
        <th>Email</th>
        <th>Contact No</th>
        <th>Amenities</th>
        <th>Price Per Week</th>
        <th>Actions</th>
        
    </tr>


@foreach (var item in Model) {
    <tr>
        <td><img src="@Url.Content("~/Content/themes/base/images/infinity.jpg")" style="max-width: 100px; max-height: 100px; float: left "; alt="Hosue";/></td>
      

      
      
        <td>
            @Html.DisplayFor(modelItem => item.holidayhomeno)

        </td>
  

        <td>
            @Html.DisplayFor(modelItem => item.address1)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contactno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amenities)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        
        
        
        <td>@Html.ActionLink("Edit", "Edit", new { id = item.holidayhomeID })
        @Html.ActionLink("Details", "Details", new { id = item.holidayhomeID })
        @Html.ActionLink("Delete", "Delete", new { id = item.holidayhomeID })
        @Html.ActionLink("Book", "Booking", new { id = item.holidayhomeID })</td>
        
        </tr>
   
}

</table>

<div>
    @Html.ActionLink("Return to Home Page", "Index")
</div>